tts/*
deps/*
custom_components/*
secrets.yaml
nest.conf
OZW_Log.txt
*.sqlite
*.xml
*.db
*.log
.uuid
cert/*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
caseta_*.json
*.log*
*.pem
*.storage
www/*
plex.conf
harmony_*
dwains-dashboard/*
hacs/*
lutron_caseta_pro_192.168.1.15.json
zigbee.db-shm
zigbee.db-wal
zwave*devices.txt