tts/*
deps/*
custom_components/*
secrets.yaml
nest.conf
OZW_Log.txt
*.sqlite
*.xml
*.db
*.log
.uuid
cert/*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
caseta_*.json
*.log*
*.pem
*.storage
www/*
plex.conf
harmony_*